/* Base and shared styles */
body {
  background-color: #291860;
  font-family: "Encode Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14pt;
}

h1, h2 {
  font-family: "Encode Sans", sans-serif;
  font-style: oblique;
  font-weight: 900;
  color: #CB00A4;
}

/* Sections */

.section {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.welcome h1, .comingsoon {
  font-size: 8vw;
  text-shadow: -2px 2px #D9CD14;
}

.welcome h2 {
  font-family: "Encode Sans", sans-serif;
  font-weight: 700;
  color: #181740;
  text-shadow: unset;
  font-style: unset;
  padding-top: 5vh;
}

.bio, .welcome {
  background-color: #a1c217;
  color: #1C2626;
}

.bio img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  margin-bottom: 30px;
}

.about, .contact {
  background-color: #1C2626;
  color: #F2F2F2;
}

.about a {
  color: #D9CD14;
}

.about a:hover {
  color: #CB00A4;
}

.services, .testimonials {
  background-color: #291860;
  color: #BFB2AA;
}

.testimonials a {
  color: #D9CD14;
}

.testimonials a:hover {
  color: #CB00A4;
}

.comingsoon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  font-size: 8vw;
  text-shadow: -2px 2px #D9CD14;
}

.row {
  padding-top: 1vh;
}

.carousel-item-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.carousel-item-content img {
  border-radius: 80px;
  max-width: 100%;
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  gap: 10px
}

/* Navbar styles */
.navbar-light {
  background-color: #a1c217;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Encode Sans", sans-serif;
  font-weight: 700;
  color: #181740;
  font-style: oblique;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  font-family: "Encode Sans", sans-serif;
  font-weight: 700;
  color: #CB00A4;
  font-style: oblique;
  text-shadow: -1px 1px #D9CD14;
}

.navbar-light .nav-link {
  font-size: 2em;
  color: #7FA400;
}

.btn-contact {
  background-color: #CB00A4;
  border-color: #D9CD14;
  color: #ffffff;
}
.btn-contact:hover,
.btn-contact:focus,
.btn-contact:active,
.btn-contact.active,
.open > .dropdown-toggle.btn-custom {
  background-color: #920075;
  border-color: #867f0e;
}


/*!* Mobile Overrides *!*/
/*@media (max-width: 767px) {*/
/*  .navbar {*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 70px;*/
/*    margin-bottom: 0;*/
/*    z-index: 9999;*/
/*  }*/
/*  !* adjust padding to make sure navbar doesn't cover content *!*/
/*  body {*/
/*    padding-bottom: 70px;*/
/*  }*/
/*}*/